@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/MontserratAlternates-Light.woff2') format('woff2'), url('/fonts/MontserratAlternates-Light.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat Alternates';
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/MontserratAlternates-Black.woff2') format('woff2'), url('/fonts/MontserratAlternates-Black.woff') format('woff');
}

// /assets/fonts/MontserratAlternates-Black